run = ["sh", "-c", "npm install && npm run build && npm run seed && npm start"]
entrypoint = "server/index.js"

[nix]
channel = "stable-24_11"

[deployment]
run = ["sh", "-c", "npm install && npm run build && npm run seed && npm start"]

[env]
PORT = "3000"

[[ports]]
localPort = 3000
externalPort = 80
